<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
body {
  background-color: lightblue;
}
</style>
  </head>
<body ng-app="">
<h3> Welcome to the first of four math quizzes for basic facts. The first one is addition. </h3>
<p> Addition quiz: </p>
<form>
  Question 1: 5+5:
  <input type="radio" ng-model="myVar1" value="ten">10
  <input type="radio" ng-model="myVar1" value="five">5
  <br>
  <br>
   Question 2: 5+2:
  <input type="radio" ng-model="myVar2" value="seven">7
  <input type="radio" ng-model="myVar2" value="three">3
  <br>
  <br>
    Question 3: 9+8:
  <input type="radio" ng-model="myVar3" value="seventeen">17
  <input type="radio" ng-model="myVar3" value="fourteen">14
  <br>
  <br>
   Question 4: 14+6:
  <input type="radio" ng-model="myVar4" value="twenty">20
  <input type="radio" ng-model="myVar4" value="ten1">10
  <br>
  <br>
    Question 5: 50+50:
  <input type="radio" ng-model="myVar5" value="onehundred">100
  <input type="radio" ng-model="myVar5" value="fivehundred">500
  <br>
  <br>
   Question 6: 300+300:
  <input type="radio" ng-model="myVar6" value="sixhundred">600
  <input type="radio" ng-model="myVar6" value="fivefifty">550
  <br>
  <br>
    Question 7: 55+55:
  <input type="radio" ng-model="myVar7" value="onehundredten">110
  <input type="radio" ng-model="myVar7" value="onehundredtwenty">120
  <br>
  <br>
   Question 8: 52+200+0+0:
  <input type="radio" ng-model="myVar8" value="twohundredfiftytwo">252
  <input type="radio" ng-model="myVar8" value="twohundredfiftyfour">254
  <br>
  <br>
    Question 9: 1+2+3+4+5+6+7:
  <input type="radio" ng-model="myVar9" value="twentyeight">28
  <input type="radio" ng-model="myVar9" value="thirtyeight">38
  <br>
  <br>
   Question 10: 444+444:
  <input type="radio" ng-model="myVar10" value="eighthundredeightyeight">888
  <input type="radio" ng-model="myVar10" value="eighthundredeighteen">818
  <br>
  <br>
  <p> Results: </p>
</form>

<div ng-switch="myVar1">
  <div ng-switch-when="ten">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="five">
  <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  
  <div ng-switch="myVar2">
  <div ng-switch-when="seven">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="three">
       <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  <div ng-switch="myVar3">
  <div ng-switch-when="seventeen">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="fourteen">
      <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  <div ng-switch="myVar4">
  <div ng-switch-when="twenty">
   <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="ten1">
       <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  <div ng-switch="myVar5">
  <div ng-switch-when="onehundred">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="fivehundred">
       <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  <div ng-switch="myVar6">
  <div ng-switch-when="sixhundred">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="fivefifty">
       <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  <div ng-switch="myVar7">
  <div ng-switch-when="onehundredten">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="onehundredtwenty">
       <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  <div ng-switch="myVar8">
  <div ng-switch-when="twohundredfiftytwo">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="twohundredfiftyfour">
       <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
    <div ng-switch="myVar9">
  <div ng-switch-when="twentyeight">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="thirtyeight">
       <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  <div ng-switch="myVar10">
  <div ng-switch-when="eighthundredeightyeight">
       <div class="alert alert-success">
    <strong>Correct!</strong> 
  </div>
  </div>
  <div ng-switch-when="eighthundredeighteen">
       <div class="alert alert-danger">
  <strong>Try again!</strong>
</div>
  </div>
  </div>
  <a href= "subtract.html"> Once you are ready, go to subtraction. </a>
  <h3>For the advanced series on prealgebra, click here: </h3>
  <a href="prealgebra.html"> Prealgebra </a>
</body>
</html>